
<section class="ae-container-fluid ae-container-fluid--full">
    <header class="rk-portfolio-cover  post-inside-1">
      <div class="item-inside__meta">
        <h1 class="ae-u-bolder rk-portfolio-title ">Content Post Blog</h1>
        <p class="ae-theta rk-portfolio-category ">by <span class="ae-u-bolder">Pixeden</span></p>
      </div>
    </header>
    <div class="ae-container-fluid">
      <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
        <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
          <h2 class="rk-portfolio-inner-title ">Fall Collection photo shoot</h2>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
          <p class="rk-portfolio-inner-client "><span class="ae-lambda">Client: </span><span class="ae-u-bolder">Agency Design Studio</span></p>
          <p class="au-underline rk-portfolio-inner-website "><a href="#0" class="ae-kappa">www.agencydesign.com</a></p>
          <p class="ae-kappa ae-u-bold rk-portfolio-inner-date ">12 August, 2022</p>
        </div>
      </div>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
          <h2 class="ae-u-bolder">Left Box Text</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ipsa sequi atque totam alias nesciunt cupiditate reprehenderit doloremque, tempore tenetur molestiae, quis quibusdam voluptatum ullam vero eos cum, quaerat perferendis!</p>
        </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="https://media.gq.com.mx/photos/6179beff592668672b498524/master/pass/ropa-para-hombre-tendencia-de-los-anos-70-moda-invierno-2021.jpg" alt="Urku Portfolio"></div>
      </div>
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg--auto"><img src="https://p4.wallpaperbetter.com/wallpaper/541/1009/219/gorgeous-brunette-woman-wallpaper-preview.jpg" alt="Urku Portfolio"></div>
      </div>
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
          <h2 class="ae-u-bolder">Full Wide Text</h2>
          <p class="ae-eta">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          <p>totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea co</p>
        </div>
      </div>
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-6"><img src="https://media.gq.com.mx/photos/619e4a2fcf7498ed6449b548/4:3/w_2664,h_1998,c_limit/moda-retro-prendas-vintage-para-hombre-looks-de-invierno-blazer.jpg" alt="Urku Portfolio"></div>
        <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
          <h2 class="ae-u-bolder">Right Box Text</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="ae-grid ae-grid--alt au-lg-ta-left au-xs-ptp-1">
        <div class="ae-grid__item--alt item-lg-4"><span class="ae-u-boldest">1.</span>
          <p>Suspendisse ultricies tellus eget nisl molestie, quis sagittis mauris placerat.</p><span class="ae-u-boldest">2.</span>
          <p>Pellentesque et nulla pulvinar, bibendum quam ac, cursus turpis.</p>
        </div>
        <div class="ae-grid__item--alt item-lg-4"><span class="ae-u-boldest">3.</span>
          <p>Sed quam odio, blandit sit amet dapibus id, aliquet sollicitudin enim. </p><span class="ae-u-boldest">4.</span>
          <p>Morbi hendrerit laoreet lectus a fringilla.</p>
        </div>
        <div class="ae-grid__item--alt item-lg-4"><span class="ae-u-boldest">5.</span>
          <p>Sed quam odio, blandit sit amet dapibus id, aliquet sollicitudin enim. </p><span class="ae-u-boldest">6.</span>
          <p>Morbi hendrerit laoreet lectus a fringilla.</p>
        </div>
      </div>
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-12"></div>
      </div>
    </div>
  </section>
  <section class="ae-container-fluid au-pt-4 au-pb-4">
    <div class="group-buttons au-mt-2"><a href="../main/main.component.html" class="arrow-button arrow-button--reverse">Prev Post
        <div class="arrow-cont arrow-cont-rev">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg>
        </div></a><a href="../about/about.component.html" class="arrow-button">Next Post<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></div>
  </section>
